:root{
    --fade-black: rgba(0,0,0, 0.4);
    --light-gray: #f5f5f5;
    --dark-gray: #393939;
    --blue: #6497b1;
    --dark-blue:#005b96;
}

*{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
body{
    display:flex;
}
.main{
    background-color: #16171d;
    padding: 0 16% 0 16%;
    display: flex;

}


.logo{
    background-color: var(--fade-black);
    width:100%;
    display:flex;

    justify-content: center;
    align-items: center;
    padding: 30px 0px 30px 0px;
    margin-top: 40%;
}

.logo img{
    width: 90%;
    display:block;
}

.logo img:hover{
    position:relative;
    bottom: 1px;
}

.left-panel{
    background-image: url(assets/background.jpg);
    box-shadow: inset -50px 0px 100px rgba(0,0,0, 0.7);
    box-shadow: -1px 0px 70px  rgba(255, 255, 255, 0.1);
    flex:1.5;
    height:100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.pun{
    margin-bottom: 0.5rem;
}
.footer{
    color: white;
    text-align: center;
    font-size: 0.75rem;
    background-color: var(--fade-black);
    width: 100%;
}
.footer a{
    color: white;
}

.right-panel{
    flex:2;
    box-shadow: 1px 0px 70px  rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.right-top{
    flex:0.5 1 auto;
    background-color: var(--light-gray);
    display:flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1rem;
}

.right-paragraph, .italics{
    font-weight: 400;
    font-size: 1.2rem;
}

/* General right side padding */
.right-paragraph, .form-title, .form-container, .bottom-container, .required{
    padding: 0 2rem 0 2rem;
}
.right-paragraph:first-child{
    margin-top: 4rem;
}
.right-paragraph:last-child{
    margin-bottom: 2rem;
}
.italics{
    font-style: italic;
}
.right-middle{
    flex: 1 1 auto;
    background-color: white;
    box-shadow:  1px 0px 3px rgba(0,0,0, 0.1);

    padding-bottom: 0.75rem;
}
.form-title{
    padding-top: 1rem;
    font-weight: 600;
    font-size: 1.5rem;

}

.form-element{
    display:grid;
    grid-template-areas: 'first-name last-name'
    'email tel'
    'password confirm-password'
    'required required';
    margin-top: 1rem;
    
}

.form-container label{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 0.7rem;

}

.form-container input{
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
    padding: 0.12rem;
    padding-left: 0.5rem;
    width: 75%;
    height: 1.5rem;
    border: solid 1px var(--dark-gray); 
    border-radius: 4px;
}
.form-container input:focus{
    border: solid 1px var(--blue);
    outline: solid 1px var(--blue);
    position:relative;
    bottom: 1px;
    right: 2px;
    box-shadow: 0.188rem 0.188rem 0.3rem rgba(0,0,0, 0.1);
} 

.required{
    margin-top: 0.5rem;
    font-size: 0.72rem;;
}
.right-bottom{
    background-color: var(--light-gray);
    height:auto;
    box-shadow: inset 0px 5px 5px rgba(0,0,0, 0.1);
    flex:3 2 auto;
}

.bottom-container{
    padding-top: 2rem;
}
.submit-button{
    background-color: #6497b1;
    padding:0.5rem 2rem 0.5rem 2rem; 
    color:white;
    font-size: 1rem;
    font-weight: 800;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0,0,0, 0.1);

}

.submit-button:focus, .submit-button:hover{
    position:relative;
    bottom:1px;
}

.login{
    margin-top: 1rem;
    font-size: 0.75rem;
}
.login a{
    color: var(--blue);
    font-weight: 800;
    text-decoration: none;
}
.login a:hover{
    color: var(--dark-blue);
    font-weight: 800;
    text-decoration: none;
}


#email:invalid, #tel:invalid, #password:invalid, #conf-password:invalid{
    border-color: red;
    outline: red;
}

